body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #9B9B9B solid;
}
.Admin-profile{
    display: flex;
}
.Admin-profile p {
    font-size: 10px;;
}